name: Maven Package Release Build

on:
  repository_dispatch:

  push:
    branches:
      - 'master'
      - 'release*'

jobs:

  build-test-version-publish:
    name: Build Test Version Publish
    runs-on: ubuntu-18.04

    steps:

      - uses: actions/checkout@v1

      - name: Set up JDK 8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8
    
      - name: If Repository Dispatch Checkout Sha
        if: github.event_name == 'repository_dispatch'
        run: git checkout -f "${{  github.event.client_payload.buildSha }}"
        
      - name: Making Custom Scripts As Executable
        run: |
          cd .github/scripts
          echo "::set-env name=PATH::${PATH}:$(pwd)"
          chmod +x *
    
      - name: Setting the build sha variable
        run: |
          set -e
          BUILD_SHA=$(git log  -n 1 --format=format:%H)
          echo "::set-env name=CI_BUILD_SHA::${BUILD_SHA}"      
        
      - name:  Set build branch
        run: |
          set -e
          if [[ ${{ github.event_name }} = 'repository_dispatch' ]] ;
          then
            BUILD_BRANCH="${{  github.event.client_payload.buildBranch }}"
            
          else
            BUILD_BRANCH="${GITHUB_REF#refs/heads/}"
          fi
          echo "::set-env name=CI_BUILD_BRANCH::${BUILD_BRANCH}"

      - name: Assert Commit is in the specified branch
        run: ci-assertCommitInBranch "${CI_BUILD_SHA}" origin/"${CI_BUILD_BRANCH}"
        
      - name: Set Base Version
        run: |
          set -e
          BASE_VERSION=$(ci-readBaseVersion)
          echo "::set-env name=CI_BASE_VERSION::${BASE_VERSION}"

      - name: Verify Last Version Change Is In Master
        run: ci-assertLastVersionChangeIsInBranch "origin/master"

      - name: Get Release Version
        run: |
          set -e
          RELEASE_VERSION=$(ci-getReleaseVersion ${CI_BASE_VERSION} ${CI_BUILD_BRANCH} ${CI_BUILD_SHA})
          echo "::set-env name=CI_RELEASE_VERSION::${RELEASE_VERSION}"
      - name: Gradle Build
        run: gradle -Pbuild.user="${{ github.actor }}" -Pbuild.password="${{ secrets.GITHUB_TOKEN }}" build
          
      - name: Unit Test
        run: gradle test

#      - name: Gradle Publish
#        run: gradle -Pgpr.repo="https://maven.pkg.github.com/ZeroWasteTeam/SampleJavaMavenPackage" -Pgpr.user="${{ github.actor }}" -Pgpr.key="${{ secrets.GITHUB_TOKEN }}" -Pgpr.version="${CI_RELEASE_VERSION}" publish
                  
#      - name: BuildType
#        run: echo "${{  github.event.client_payload.buildType }}"

#      - name: BuildBranch
#        run: echo "${{  github.event.client_payload.buildBranch }}"        

#      - name: BuildSha
#        run: echo "${{  github.event.client_payload.buildSha }}"

